*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin: 50px 0px;
}
.gallery{
    margin: 10px 50px;
}
.gallery img{
    width: 287px;
    height: 287px;
    padding: 5px;
    filter:grayscale(100%);
    transition: 1s;
}
.gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}